@model List<Movie>
@{
    ViewData["Title"] = "Movies";
    Layout = "_AdminLayout";
}
<br />
<br />
<br />



<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-4">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">Latest Movies</h3>
                    </div>
                    <div class="headerhny-right text-lg-right">
                        <h4><a class="show-title" href="genre.html">Show all</a></h4>
                    </div>
                </div>
            </div>
            <div class="w3l-populohny-grids">
                @foreach (var movie in Model)
                {
                    <div class="item vhny-grid">

                        <div class="box16 mb-0">

                            <a href="#">
                                <figure>
                                    <img class="img-fluid" src="@movie.ImageURL" alt="">
                                </figure>
                                <div class="box-content">

                                    <h3 class="title">@movie.Title</h3>
                                    <h4>
                                        <span class="post"><span class="fa fa-clock-o"> </span>@movie.Duration</span>
                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                    <!-- Replace the Add to Cart button with the cart icon -->
                                   @* <a href="@Url.Action("AddToCart", "Cart", new { movieId = movie.Id, userId = ViewBag.UserId })" class="cart-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z" />
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />

                                    </svg>
</a>
                  *@          
              </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                        </div><div class="icon-container d-flex justify-content-between">
                            
                   <div>
    <br/>
                            <a href="@Url.Action("OneMovies", "Admin", new { id = movie.Id })">
                                <button type="button" class="btn" style="min-width: 170px; background-color: #df0e62; color: white;">Details</button>
                            </a>
                        </div>


                    <div>
                        <br/>
                         <a href="@Url.Action("EditMovie", "Admin", new { id = movie.Id })" >
                            <button type="button" class="btn btn-info" style="min-width: 70px;">Edit</button>
                        </a>
                    </div>
                </div>


                    </div>
                }
            
            </div>
        </div>
        <div class="button-center text-center mt-3">
            <a href="#" class="btn view-button">View all <span class="fa fa-angle-double-right ml-2"
                    aria-hidden="true"></span></a>
        </div>
    </div>
</section>

